#tab-onvifScanner .onvif_result .preview-image {
    width: 100%;
    background-size: cover;
    height: 100px;
}
/* #tab-onvifScanner .onvif_result .card {
    cursor: pointer;
} */
#tab-onvifScanner .onvif_result .card-body {
    min-height: auto;
}
#tab-onvifScanner .onvif_result {
    padding-top: 0.5rem;
}
#tab-onvifScanner .onvif_result .uri{
    word-break: break-word;
}
#tab-onvifScanner .scan-item-img {
    width: 100px;
    border-radius: 7px;
    height: 100px;
    background-size: cover;
    background-color: #1f80f9;
}
